* {
margin: 0px;
border: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html,body {
background-color: #fbc7e1 !important ;
height: 100%;
}
body {
display: flex;
flex-direction: column;
}
main {
flex-grow: 1;
}
.imagban {
width: 100%;
height: 100%;
object-fit: cover;
object-position:center;
}
.navbar-expand-lg {
background-color:#80c33bcf;
}
.menu {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color:white;
text-decoration: none;
font-size: 50px;
text-shadow: 2px 2px 0px black, 2px -2px 0px black, -2px 2px 0px black, -2px -2px 0px black;
}
#cktion {
padding: 15px;
font-size: 13px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
div.categoria {
display: flex;
flex-direction: column;
gap: 20px;
}
.buscador {
text-decoration: none;
color: black;
}
#botonn {
border-color: black;
}
.card {
background-color: rgba(176, 224, 127, 0.581)!important;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2)!important;
text-align: center;
padding-left: 10px !important;
padding-right: 10px !important;
padding-top: 10px !important;
}
.card:hover {
box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4)!important;
transform: translateY(-2%)!important;
}
#cartas {
display: flex;
flex-direction: column;
gap:15px;
position: relative;
margin-left: 7px;
bottom: 15px;
padding-top: 15px;
}
.priceydat {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 80px;
margin-top: 15px;
}
footer {
padding-top: 25px;
padding-bottom: 25px;
background-color:#c33b80;
background-size: contain;
width: 100%;
display: inline-flex;
gap: 10px;
}
.redes {
position: relative;
left: 10px;
gap: 5px;
}
.hfor {
display: flex;
align-items: center;
position: relative;
left: 80px;
color: #ede8eb;
}
/* // CARTA DETAILS// */
.card-text {
margin-bottom: 0px !important;
}
.d {
margin-left: 10px !important;
margin-right: 10px !important;
margin-top: 15px !important;
}
/* //-----// */
#contacto {
background-color:rgba(176, 224, 127, 0.581) !important;
}
#botoncontact {
margin-bottom: 15px;
}
#inputnamecontact {
margin-top: 15px;
}
#name, #email, #message {
border: 2px solid black;
}
.table-header {
position: relative !important;
text-align: initial !important;
}
.all {
position: relative;
right: 7px;
}
.carousel-item img {
height: 250px;
object-fit: cover;
}

@media only screen and (min-width: 700px) {
div.categoria {
align-items: center;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
}
#cktion {
flex-direction: row;
}
#cartas {
flex-direction: row;
flex-wrap: wrap;
justify-content:space-around;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
}
#contacto{
width: 400px;
}
.d{
display: flex !important;
flex-direction: row !important;
justify-content: space-around;
text-align: start;
max-width: 60%;
left: 250px !important;
bottom: 10px;
top: 1px;
}
#detalles {
height: 100% !important;
object-fit: cover !important;
padding-bottom: 10px !important;
margin-top: 35px;
}
.navbar-collapse {
flex-grow: 0 !important;
}
.navbar-nav {
gap: 5px;
}
li.nav-item {
border: ridge;
border-radius: 10px;
border-color: rgb(196 239 152 / 58%);
}
li.nav-item:hover {
background-color: #fbc7e1;
}

}
